.funtional-content {
    margin: 10px !important;
    @include breakpoint-up(md) {
        
    }

    .funtional-row {
        &.animated {
            animation: fadeInDown 1s ease-out 0.5s both;
        }
    }

    .funtional-tabs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &.animated {
            animation: fadeInDown 1s ease-out both;
        }

        background-color:$color-white;
        border-radius: $radius;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
        padding: 10px 0;
        border-color: 1px solid $color-white;

        .funtional-nav-link {
            width: 100%;
            @include flex(flex-start, center);
            padding: 10px 20px;
            gap: 2px;
            position: relative;
            font-weight: 500;
            transition: all 0.3s ease;
            cursor: pointer;
            width: 100%;
            border: 1px solid $color-border;

            border-radius: 5px;
            margin-left: 10px;

            @include breakpoint-up(md) {
                width: calc(33.333% - 16px);
                border: 1px solid transparent;

            }

            .funtional-number {
                width: 46px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                border: 1px solid $color-border;
                border-radius: 50%;
                margin-right: 15px;
                font-size: 16px;
                font-weight: 600;
                color: $color-heading;
            }

            &.active::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #007bff;
                border-radius: 4px 4px 0 0;
            }
        }

    }

    .funtional-row {
        margin-top: 50px !important;
        margin: 15px;

    }

    .funtional-row-img {
        display: none !important;

        @include breakpoint-up(md) {
            display: block !important;
        }
    }

    .funtional-title {
        text-align: left;

        .funtional-title-heading {
            font-size: 30px;
            font-weight: $font-weight-semibold;
            color: $color-heading;
        }
    }

}

[data-theme="dark"] {

    .funtional-tabs {
        background-color: $color-bg-dark;
        border: 1px solid $color-border-dark !important;

        .funtional-nav-link {
            background-color: #1C2136;
            border: 1px solid $color-border-dark !important;
        }

        .funtional-number {
            background-color: $color-bg-dark;
            border: 1px solid $color-border-dark !important;
            color: $color-white !important;
        }
    }

    .funtional-title {

        h2 {

            color: $color-white !important;

        }

    }

}

