.our-faqs {
    padding-bottom: 5rem;
    margin: 15px;


    .our-faqs-content {
        position: relative;
        display: flex;
        border-radius: 12px;
        width: 100%;

        .our-faqs-two-column {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            overflow: hidden;

            .our-faqs-title {
                padding: 20px;
                width: 40%;
                @include breakpoint-up(md)  {
        width: 50%;
    }
                &.animated {
                    animation: fadeInLeft 1s ease-out both;
                }

                .section-title {
                    text-align: left !important;

                    p {
                        color: $color-bg-dark;
                    }

                    h2 {
                        font-size: 30px;
                    }
                }

            }

            .our-faqs-items {
                text-align: right !important;
                overflow: hidden;
                width: 100%;
                @include breakpoint-up(md)  {
        width: 50%;
    }
                &.animated {
                    animation: fadeInRight 1s ease-out both;
                }

                .accordion-item {
                    border-radius: 5px;

                    .accordion-header {
                        h2 {
                        }

                        .accordion-button::after {
                            display: none !important;
                        }

                        .accordion-button:not(.collapsed) {
                            background-color: transparent !important;
                            color: inherit !important;
                            box-shadow: none !important;
                        }

                        .accordion-button:focus {
                            box-shadow: none !important;
                        }

                        .accordion-button .icon-open {
                            display: none;
                            font-size: 1.5rem;
                            font-weight: 700;

                        }

                        .accordion-button .icon-close {
                            display: inline-block;
                            font-size: 1.5rem;
                            font-weight: 700;
                        }

                        .accordion-button.collapsed .icon-open {
                            display: inline-block;
                        }

                        .accordion-button.collapsed .icon-close {

                            display: none;
                        }
                    }

                    .accordion-body {
                        text-align: left;
                    }

                }

            }
        }
    }
}

[data-theme='dark'] {

    .our-faqs-content {
        background-color: $color-bg-dark;

        .our-faqs-title {
            .section-title p {
                color: $color-white !important;
            }

            .section-title h2 {
                color: $color-white;
            }

        }

        .our-faqs-items {
            .accordion-item {
                background-color: $color-border-dark !important;
                color: $color-white !important;

                .accordion-button {
                    background-color: $color-border-dark !important;
                    color: $color-white !important;
                }
            }
        }
    }
}


.accordion-item {
    border-bottom: 1px solid #e9ecef !important;
}
