.two-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    align-items: center;
    width: 100%;
    height: auto;

    @include breakpoint-up(md) {

        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

}

.two-column__image {
     display: none;
     @include breakpoint-up(md)  {
        display: block;
    }


    img {
        width: 100%;
        display: block;
        border-radius: $radius;
    }

}

.two-column__content {
    
    width: 100%;
}

.two-column--reverse {

    .two-column__image {
        order: 2;
    }

    .two-column__content {

        order: 1;

    }

    @include breakpoint-up(lg) {

        .two-column__image,
        .two-column__content {

            order: unset;

        }

    }

}