@import "variable";
@import "mixin";
@import "component";
@import "header";
@import "hero";
@import "brand";
@import "features";
@import "footer";
@import "two-column";
@import "integration";
@import "funtional";
@import "trusted-section";
@import "intergration-last";
@import "our-faqs";
@import "animation";
@import "testimonials";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $fs-body;
  color: $color-text;
  line-height: 1.6;
  background-color: $color-white;
  transition: $transition;

  [data-theme='dark'] & {
    background-color: $color-bg-dark;
    color: $color-text-dark;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
